<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gome.sms.dao.AppBusinessProductMapper">
  <resultMap id="BaseResultMap" type="com.gome.sms.model.AppBusinessProduct">
    <result column="SERNO" jdbcType="VARCHAR" property="serno" />
    <result column="CUSTOMER_APPLY_CODE" jdbcType="VARCHAR" property="customerApplyCode" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="IS_ADD_INFO" jdbcType="VARCHAR" property="isAddInfo" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_MONEY" jdbcType="VARCHAR" property="orderMoney" />
    <result column="CRT_DATE" jdbcType="TIMESTAMP" property="crtDate" />
    <result column="MDF_DATE" jdbcType="TIMESTAMP" property="mdfDate" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="MDF_USER" jdbcType="VARCHAR" property="mdfUser" />
    <result column="TERM" jdbcType="VARCHAR" property="term" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="IS_ADD" jdbcType="VARCHAR" property="isAdd" />
  </resultMap>
  <insert id="insert" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT (SERNO, CUSTOMER_APPLY_CODE, MER_ID, 
      IS_ADD_INFO, MER_NAME, PRODUCT_TYPE, 
      STATUS, ORDER_MONEY, CRT_DATE, 
      MDF_DATE, CRT_USER, MDF_USER, 
      TERM, DATA_FLAG, IS_ADD
      )
    values (#{serno,jdbcType=VARCHAR}, #{customerApplyCode,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, 
      #{isAddInfo,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderMoney,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{mdfDate,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, #{mdfUser,jdbcType=VARCHAR}, 
      #{term,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}, #{isAdd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        SERNO,
      </if>
      <if test="customerApplyCode != null">
        CUSTOMER_APPLY_CODE,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="isAddInfo != null">
        IS_ADD_INFO,
      </if>
      <if test="merName != null">
        MER_NAME,
      </if>
      <if test="productType != null">
        PRODUCT_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="orderMoney != null">
        ORDER_MONEY,
      </if>
      <if test="crtDate != null">
        CRT_DATE,
      </if>
      <if test="mdfDate != null">
        MDF_DATE,
      </if>
      <if test="crtUser != null">
        CRT_USER,
      </if>
      <if test="mdfUser != null">
        MDF_USER,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="dataFlag != null">
        DATA_FLAG,
      </if>
      <if test="isAdd != null">
        IS_ADD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="customerApplyCode != null">
        #{customerApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="isAddInfo != null">
        #{isAddInfo,jdbcType=VARCHAR},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null">
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null">
        #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="mdfUser != null">
        #{mdfUser,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="isAdd != null">
        #{isAdd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.gome.sms.model.AppBusinessProduct">
    <result column="SERNO" jdbcType="VARCHAR" property="serno" />
    <result column="CUSTOMER_APPLY_CODE" jdbcType="VARCHAR" property="customerApplyCode" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="IS_ADD_INFO" jdbcType="VARCHAR" property="isAddInfo" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_MONEY" jdbcType="VARCHAR" property="orderMoney" />
    <result column="CRT_DATE" jdbcType="TIMESTAMP" property="crtDate" />
    <result column="MDF_DATE" jdbcType="TIMESTAMP" property="mdfDate" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="MDF_USER" jdbcType="VARCHAR" property="mdfUser" />
    <result column="TERM" jdbcType="VARCHAR" property="term" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="IS_ADD" jdbcType="VARCHAR" property="isAdd" />
  </resultMap>
  <insert id="insert" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT (SERNO, CUSTOMER_APPLY_CODE, MER_ID, 
      IS_ADD_INFO, MER_NAME, PRODUCT_TYPE, 
      STATUS, ORDER_MONEY, CRT_DATE, 
      MDF_DATE, CRT_USER, MDF_USER, 
      TERM, DATA_FLAG, IS_ADD
      )
    values (#{serno,jdbcType=VARCHAR}, #{customerApplyCode,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, 
      #{isAddInfo,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderMoney,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{mdfDate,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, #{mdfUser,jdbcType=VARCHAR}, 
      #{term,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}, #{isAdd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        SERNO,
      </if>
      <if test="customerApplyCode != null">
        CUSTOMER_APPLY_CODE,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="isAddInfo != null">
        IS_ADD_INFO,
      </if>
      <if test="merName != null">
        MER_NAME,
      </if>
      <if test="productType != null">
        PRODUCT_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="orderMoney != null">
        ORDER_MONEY,
      </if>
      <if test="crtDate != null">
        CRT_DATE,
      </if>
      <if test="mdfDate != null">
        MDF_DATE,
      </if>
      <if test="crtUser != null">
        CRT_USER,
      </if>
      <if test="mdfUser != null">
        MDF_USER,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="dataFlag != null">
        DATA_FLAG,
      </if>
      <if test="isAdd != null">
        IS_ADD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="customerApplyCode != null">
        #{customerApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="isAddInfo != null">
        #{isAddInfo,jdbcType=VARCHAR},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null">
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null">
        #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="mdfUser != null">
        #{mdfUser,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="isAdd != null">
        #{isAdd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.gome.sms.model.AppBusinessProduct">
    <result column="SERNO" jdbcType="VARCHAR" property="serno" />
    <result column="CUSTOMER_APPLY_CODE" jdbcType="VARCHAR" property="customerApplyCode" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="IS_ADD_INFO" jdbcType="VARCHAR" property="isAddInfo" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_MONEY" jdbcType="VARCHAR" property="orderMoney" />
    <result column="CRT_DATE" jdbcType="TIMESTAMP" property="crtDate" />
    <result column="MDF_DATE" jdbcType="TIMESTAMP" property="mdfDate" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="MDF_USER" jdbcType="VARCHAR" property="mdfUser" />
    <result column="TERM" jdbcType="VARCHAR" property="term" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="IS_ADD" jdbcType="VARCHAR" property="isAdd" />
  </resultMap>
  <insert id="insert" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT (SERNO, CUSTOMER_APPLY_CODE, MER_ID, 
      IS_ADD_INFO, MER_NAME, PRODUCT_TYPE, 
      STATUS, ORDER_MONEY, CRT_DATE, 
      MDF_DATE, CRT_USER, MDF_USER, 
      TERM, DATA_FLAG, IS_ADD
      )
    values (#{serno,jdbcType=VARCHAR}, #{customerApplyCode,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, 
      #{isAddInfo,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderMoney,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{mdfDate,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, #{mdfUser,jdbcType=VARCHAR}, 
      #{term,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}, #{isAdd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        SERNO,
      </if>
      <if test="customerApplyCode != null">
        CUSTOMER_APPLY_CODE,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="isAddInfo != null">
        IS_ADD_INFO,
      </if>
      <if test="merName != null">
        MER_NAME,
      </if>
      <if test="productType != null">
        PRODUCT_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="orderMoney != null">
        ORDER_MONEY,
      </if>
      <if test="crtDate != null">
        CRT_DATE,
      </if>
      <if test="mdfDate != null">
        MDF_DATE,
      </if>
      <if test="crtUser != null">
        CRT_USER,
      </if>
      <if test="mdfUser != null">
        MDF_USER,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="dataFlag != null">
        DATA_FLAG,
      </if>
      <if test="isAdd != null">
        IS_ADD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="customerApplyCode != null">
        #{customerApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="isAddInfo != null">
        #{isAddInfo,jdbcType=VARCHAR},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null">
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null">
        #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="mdfUser != null">
        #{mdfUser,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="isAdd != null">
        #{isAdd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <resultMap id="BaseResultMap" type="com.gome.sms.model.AppBusinessProduct">
    <result column="SERNO" jdbcType="VARCHAR" property="serno" />
    <result column="CUSTOMER_APPLY_CODE" jdbcType="VARCHAR" property="customerApplyCode" />
    <result column="MER_ID" jdbcType="VARCHAR" property="merId" />
    <result column="IS_ADD_INFO" jdbcType="VARCHAR" property="isAddInfo" />
    <result column="MER_NAME" jdbcType="VARCHAR" property="merName" />
    <result column="PRODUCT_TYPE" jdbcType="VARCHAR" property="productType" />
    <result column="STATUS" jdbcType="VARCHAR" property="status" />
    <result column="ORDER_MONEY" jdbcType="VARCHAR" property="orderMoney" />
    <result column="CRT_DATE" jdbcType="TIMESTAMP" property="crtDate" />
    <result column="MDF_DATE" jdbcType="TIMESTAMP" property="mdfDate" />
    <result column="CRT_USER" jdbcType="VARCHAR" property="crtUser" />
    <result column="MDF_USER" jdbcType="VARCHAR" property="mdfUser" />
    <result column="TERM" jdbcType="VARCHAR" property="term" />
    <result column="DATA_FLAG" jdbcType="VARCHAR" property="dataFlag" />
    <result column="IS_ADD" jdbcType="VARCHAR" property="isAdd" />
  </resultMap>
  <insert id="insert" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT (SERNO, CUSTOMER_APPLY_CODE, MER_ID, 
      IS_ADD_INFO, MER_NAME, PRODUCT_TYPE, 
      STATUS, ORDER_MONEY, CRT_DATE, 
      MDF_DATE, CRT_USER, MDF_USER, 
      TERM, DATA_FLAG, IS_ADD
      )
    values (#{serno,jdbcType=VARCHAR}, #{customerApplyCode,jdbcType=VARCHAR}, #{merId,jdbcType=VARCHAR}, 
      #{isAddInfo,jdbcType=VARCHAR}, #{merName,jdbcType=VARCHAR}, #{productType,jdbcType=VARCHAR}, 
      #{status,jdbcType=VARCHAR}, #{orderMoney,jdbcType=VARCHAR}, #{crtDate,jdbcType=TIMESTAMP}, 
      #{mdfDate,jdbcType=TIMESTAMP}, #{crtUser,jdbcType=VARCHAR}, #{mdfUser,jdbcType=VARCHAR}, 
      #{term,jdbcType=VARCHAR}, #{dataFlag,jdbcType=VARCHAR}, #{isAdd,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.gome.sms.model.AppBusinessProduct">
    insert into APP_BUSINESS_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        SERNO,
      </if>
      <if test="customerApplyCode != null">
        CUSTOMER_APPLY_CODE,
      </if>
      <if test="merId != null">
        MER_ID,
      </if>
      <if test="isAddInfo != null">
        IS_ADD_INFO,
      </if>
      <if test="merName != null">
        MER_NAME,
      </if>
      <if test="productType != null">
        PRODUCT_TYPE,
      </if>
      <if test="status != null">
        STATUS,
      </if>
      <if test="orderMoney != null">
        ORDER_MONEY,
      </if>
      <if test="crtDate != null">
        CRT_DATE,
      </if>
      <if test="mdfDate != null">
        MDF_DATE,
      </if>
      <if test="crtUser != null">
        CRT_USER,
      </if>
      <if test="mdfUser != null">
        MDF_USER,
      </if>
      <if test="term != null">
        TERM,
      </if>
      <if test="dataFlag != null">
        DATA_FLAG,
      </if>
      <if test="isAdd != null">
        IS_ADD,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="serno != null">
        #{serno,jdbcType=VARCHAR},
      </if>
      <if test="customerApplyCode != null">
        #{customerApplyCode,jdbcType=VARCHAR},
      </if>
      <if test="merId != null">
        #{merId,jdbcType=VARCHAR},
      </if>
      <if test="isAddInfo != null">
        #{isAddInfo,jdbcType=VARCHAR},
      </if>
      <if test="merName != null">
        #{merName,jdbcType=VARCHAR},
      </if>
      <if test="productType != null">
        #{productType,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="orderMoney != null">
        #{orderMoney,jdbcType=VARCHAR},
      </if>
      <if test="crtDate != null">
        #{crtDate,jdbcType=TIMESTAMP},
      </if>
      <if test="mdfDate != null">
        #{mdfDate,jdbcType=TIMESTAMP},
      </if>
      <if test="crtUser != null">
        #{crtUser,jdbcType=VARCHAR},
      </if>
      <if test="mdfUser != null">
        #{mdfUser,jdbcType=VARCHAR},
      </if>
      <if test="term != null">
        #{term,jdbcType=VARCHAR},
      </if>
      <if test="dataFlag != null">
        #{dataFlag,jdbcType=VARCHAR},
      </if>
      <if test="isAdd != null">
        #{isAdd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>